<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/css/styles.css">
    {% block style %}
    {% endblock %}
    {% block script %}
    {% endblock %}
</head>

<body>
    <div class="container">
        <div class="row no-gutters">
            <div class="col-auto"><img src="static/assets/img/noun_pills_1070060.png" width="150px"></div>
            <div class="col align-self-end">
                <nav class="navbar navbar-light navbar-expand">
                    <div class="container"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navcol-1">
                            <ul class="nav navbar-nav flex-grow-1 justify-content-end">
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#">{{ user }}</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Logout</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#"><i class="fa fa-question-circle"></i></a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#"><i class="fa fa-gear"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <header>
                    <h1 class="text-right">
                        {% block heading %}
                        {% endblock %}
                    </h1>
                </header>
                <nav class="navbar navbar-light navbar-expand-md">
                    <div class="container"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-2"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navcol-2">
                            <ul class="nav navbar-nav">
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Dashboard</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Search</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Users</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Edit</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Test</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Submit</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>