{% extends 'base.html' %}
{% load static %}
{% block title %}
    ARx
{%  endblock %}

{% block heading %}
    Dashboard
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12">
                <h2> Welcome, {{ user.username }}!</h2>
                <p> You have entered the magnificent world of art.
                    Feel free to explore our ever growing database of artists and works.
                    While you're here you can contribute your own favorite works to the collection.
                </p>
                <p>
                    <img width="100%" src="https://www.henrimatisse.org/images/gallery/joy-of-life.jpg">
                </p>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12">
                <a class="twitter-timeline" href="https://twitter.com/the_barnes?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
{% endblock content %}